@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark-primary: #0d0613;
  --bg-dark-secondary: #1d1824;
  --purple-dark: #523c72;
  --purple-light: #d9bdfe;
  --text-purple-light: #9876c4;
  --text-light-green: #79d2b1;
  --text-grey-input: #77717a;
  --border-purple: ##d1b5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark-primary);
  color: var(--text-purple-light);
  font-family: "Poppins", sans-serif;
}
